body {
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  margin: 10px 0 20px 0;
  font-size: 28px;
  color: #333;
}

canvas {
  border: 1px solid #ccc;
}
